h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Construcción de contenido digital', 'main.html#page/Construccion_de_contenido_digital/')
                    +navTemaItem('2', 'Derechos de autor', 'main.html#page/Derechos_de_autor/')