.container
    .header-ecored
        h1 1. Teoría de Sistemas y Enfoque Sistémico.                                                                   
    .jumbotron.bg-white
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3 1.1 Conceptos básicos  
        p Un sistema es un conjunto de sistemas más pequeños (subsistemas) que intercambian energía con el fin de cumplir un objetivo.

        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3 1.2 Clasificación de los sistemas y subsistemas       
        p El entorno determina al sistema y los cambios que se originen en él, establecen la conducta del sistema de forma significativa. Los subsistemas se clasifican en relevantes y no relevantes, los primeros son los que participan en la obtención de los objetivos del sistema y los segundos forman parte de algo. 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3 1.3 Sinergia, Entropía y Neguentropía 

        p Aspectos esenciales de los sistemas para que el proceso sea exitoso tales como: la sinergia que permite una mejor conexión de los elementos del sistema, la neguentropía que permite el orden en los sistemas y la entropía que genera el desorden.

        .header-arrow.py-4.my-5
            h3.text-center Para ello lo invitamos a revisar el material de formación en donde se profundizan estos conceptos:

        a(href="media/documentos/AP02_OA_TeoGralSis.pdf", target="_blank")
            img.img-a(src="assets/images/pages/ilustraciones/img1.png").img-fluid             
        
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v1.svg").img-fluid  
            .list__txt    
                h3 1.4 El enfoque de los sistemas  

        p.mt-3 En la teoría de sistemas existen dos enfoques, el primero es analizar el universo empírico y elegir ciertos fenómenos generales y el segundo es organizar los campos empíricos en categorías de acuerdo con la  organización; es de vital importancia tenerlos en cuenta al momento de desarrollar un sistema de información.

        section.mt-3
            a(href="https://books.google.com.co/books?id=4bVvTLvHVzMC&printsec=frontcover&dq=teoria+general+de+sistemas&hl=es&sa=X&ved=2ahUKEwivj8zV1PPrAhWvslkKHSbgAjoQ6AEwAHoECAIQAg#v=onepage&q=teoria%20general%20de%20sistemas&f=false" target="_blank").media-link     

                img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                .media-link-title.ml-4
                    p Para comprender la información lo invitamos a leer el capítulo No.1 pág 25- 27 en google académico  
          
