.container
    .header-ecored
        h1 3. Proyecto de Software  
    .jumbotron.bg-white
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3 3.1 Fases del proyecto de software. 
        p Para formular un  proyecto de software es necesario definir las siguientes fases: Inicio, planeación, ejecución y cierre. 

        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3 3.2 Formulación y gerencia del proyecto de software   
        p Como en toda formulación de proyecto, para el desarrollo de un software se requiere realizar un ejercicio de pre estudio, donde se realiza un análisis y estudio requerido para poder definir e identificar la problemática a abordar, es por ello que entra en juego los aspectos de: los objetivos, la justificación, el alcance, los beneficios entre otros para poder determinar la mejor alternativa de solución. 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3 3.3 Ciclo de vida del proyecto de software        
        p El software como sistema, requiere ser desarrollado a través de una serie de actividades o etapas que conforman lo que se conoce como ciclo de vida, las cuales pueden variar de un autor a otro.

        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3 3.4.   Metodología de marco lógico (MML)
        p El marco lógico, es una herramienta para la gerencia de  proyectos usada en el diseño, planificación, ejecución y evaluación de proyectos de software.

                                        
        .header-arrow.py-4.my-5
            h3.text-center Revise el siguiente material y  estudie en detalle cada una de la fases:

        a(href="media/documentos/AP02_GerProSof.pdf", target="_blank")
            img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid   

        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3         