.container
    .header-ecored
        h1 4. Modelado de procesos        
    .jumbotron.bg-white
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3 4.1. Nociones básicas         
        p Un proceso se define como un conjunto de recursos y actividades, repetitivas y sistemáticas, interrelacionadas, mediante las cuales unas entradas se convierten en unas salidas o resultados. Las características de los procesos son:
        .list.mt-5
            .list__item
                .list__item__bulletNumber
                    span 1  
            .list__txt    
                p Necesitan para su funcionamiento una serie de recursos 

        .list.mt-5
            .list__item
                .list__item__bulletNumber
                    span 2  
            .list__txt    
                p Están formados por actividades o tareas 

        .list.mt-5
            .list__item
                .list__item__bulletNumber
                    span 3  
            .list__txt    
                p Las actividades de los procesos están interrelacionadas 

        .list.mt-5
            .list__item
                .list__item__bulletNumber
                    span 4  
            .list__txt    
                p Tienen o deberían tener un detonante que al activarlo dispare su desarrollo 

        .list.mt-5
            .list__item
                .list__item__bulletNumber
                    span 5  
            .list__txt    
                p Lo ideal sería que estuviesen estandarizados o tipificados 

        .list.mt-5
            .list__item
                .list__item__bulletNumber
                    span 6 
            .list__txt    
                p Para el desarrollo de las actividades del proceso es necesario emplear entradas que son transformadas para conseguir el resultado final 

        .list.mt-5
            .list__item
                .list__item__bulletNumber
                    span 7  
            .list__txt    
                p Se genera una salida que satisface la necesidad de un cliente                                                   
        hr.bg-brand-color-dark 

        .jumbotron.mt-5
            p Para ampliar la información lea en línea el capítulo 1, Pags 13-17 del libro:  
            section.mt-3
                a(href="https://elibro-net.bdigital.sena.edu.co/es/lc/senavirtual/titulos/53587" target="_blank").media-link     

                    img(src="assets/images/pages/ilustraciones/web.svg", alt="").media-link-icon

                    .media-link-title.ml-4
                        p Pardo Álvarez, J. M. (2013). Configuración y usos de un mapa de procesos. AENOR - Asociación Española de Normalización y Certificación.                                                          
        hr.bg-brand-color-dark    

        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3 3.2 Formulación y gerencia del proyecto de software   
        p Como en toda formulación de proyecto, para el desarrollo de un software se requiere realizar un ejercicio de pre estudio, donde se realiza un análisis y estudio requerido para poder definir e identificar la problemática a abordar, es por ello que entra en juego los aspectos de: los objetivos, la justificación, el alcance, los beneficios entre otros para poder determinar la mejor alternativa de solución. 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3 3.3 Ciclo de vida del proyecto de software        
        p El software como sistema, requiere ser desarrollado a través de una serie de actividades o etapas que conforman lo que se conoce como ciclo de vida, las cuales pueden variar de un autor a otro.

        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3 3.4.   Metodología de marco lógico (MML)
        p El marco lógico, es una herramienta para la gerencia de  proyectos usada en el diseño, planificación, ejecución y evaluación de proyectos de software.

                                        
        .header-arrow.py-4.my-5
            h3.text-center Revise el siguiente material y  estudie en detalle cada una de la fases:

        a(href="media/documentos/AP02_GerProSof.pdf", target="_blank")
            img.img-a(src="assets/images/pages/ilustraciones/img2.png").img-fluid   

        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/v2.svg").img-fluid  
            .list__txt    
                h3         